<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% import "_macros.html" as macros %}
    <h1>Guardar</h1>

    <form action="" method="post">
        {{macros.camposNuevos(diccionario.ingles, class="form-control")}}
        {{macros.camposNuevos(diccionario.espanol, class="form-control")}}
        
        <input type="submit" value="Registrar">
    </form>

    <h1>Leer</h1>

    <form action="" method="get">
        {{macros.camposNuevos(diccionario.lectura, class="form-control")}}
        {{macros.camposNuevos(diccionario.busqueda, class="form-control")}}
        
        <input type="submit" value="buscar">
    </form>

    <h1>La palabra es {{resultado}}</h1>
</body>
</html>