{% extends "layout2.html" %}


{%block container %}
    {% import "_macros.html" as macros %}
    <h1>Guardar</h1>

    <form action="/diccionario" method="post">
        {{macros.camposNuevos(diccionario.ingles, class="form-control")}}
        {{macros.camposNuevos(diccionario.espanol, class="form-control")}}

        <input type="submit" value="Registrar">
    </form>

    <h1>{{com}}</h1>
    <br>
    <h1>Leer</h1>

    <form action="/buscar" method="post">
        {{macros.camposNuevos(buscar.lectura, class="form-control")}}
        {{macros.camposNuevos(buscar.busqueda, class="form-control")}}

        <input type="submit" value="Buscar">
    </form>

    <h1>La palabra es {{resultado}}</h1>
{%endblock%}