<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-responsive.min.css">
    <style>
        body {
            padding-top: 60px;
        }

        .tr-head {
            background: #dff0d8;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div class="navbar navbar navbar-inverse navbar-fixed-top">
        <div class="navbar navbar-inner">
            <div class="container">
                <a class="brand" href="">
                    IDGS-801
                </a>
                <ul class="nav">
                    <li class="active">
                        <a href="/">
                            <i class="icon-home icon-white"></i> Inicio
                        </a>
                    </li>
                    <li>
                        <a href="/operacion">
                            <i class="icon-plus icon-white"></i> Operaciones
                        </a>
                    </li>
                    <li>
                        <a href="/resistencia">
                            <i class="icon-trash icon-white"></i> Resistencia
                        </a>
                    </li>
                    <li>
                        <a href="/distancia">
                            <i class="icon-map-marker icon-white"></i> Distancia
                        </a>
                    </li>
                    <li>
                        <a href="/diccionario">
                            <i class="icon-book icon-white"></i> Diccionario
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {%block container %}

        {%endblock%}
    </div>
</body>

</html>